.header {
    padding: 30px;
    margin: 0px;
    background-color: #143d59;
    top: auto;
}

#header-home-text{
    position: relative;
    top: 7px;
    left: 30px;
    display: block;
    margin: 0px;
    font-family: "Savoye LET";
    font-size: 50px;
    justify-content: center;
    /* padding-top: 100px; */
}

#header-home-text:hover {
    cursor: pointer;
}

#header-list-links {
    padding-right: 25px;
    font-size: larger;
    text-decoration: none;
    color: cornsilk;
}

#list {
    position: absolute;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    top: 50px;
    right: 60px;

}

