.admin-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}


.admin-image-container {
    float:left;
}

#admin-image {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 5px;
}