.footer {
    background-color: #143d59;
    margin: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding: 20px;
}

.footer-container {
    position: block;
    justify-content: center;
    align-items: center;
}

#list-container {
    padding: 0px;
    margin: 0px;
    padding-left: 2rem;
}

