.subscribe-form-container {
    display: flex;
    justify-content: center;
    /* padding: 4rem; */
    background-color: var(--header-background-color);
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .subscribe-form-container {
        display: none;
    }
}

.subscribe-form {
    display: grid;
    background-color: var(--element-background-color);
    grid-template-columns: 1fr;
    width: 50rem;
    height: 10rem;
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 3rem;
    padding-bottom: 4rem;
    margin: 2rem;
    margin-top: 6rem;
    color: var(--element-text-color);
    /* color: #ed7699; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#subscribe-form-title {
    grid-row: 1;
    place-self: center;
    padding: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #E85A4F;
}

#subscribe-form-description {
    grid-row: 2;
    place-self: center;
    padding: 2rem;
    padding-top: 10px;
    font-size: large;
    color: var(--element-text-color);
}

.subscribe-form-input-container {
    grid-row: 3/5;
    grid-column: 1/2;
}

#subscribe-form-input {
    width: 98%;
    height: 100%;
    font-size: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: var(--body-background-color);
    text-align: center;
    padding: 10px;
}

#subscribe-form-input:valid {
    border: 2px solid green;
}

#subscribe-form-input:focus {
    outline: none;
    border: 2px solid var(--footer-background-color);
}

#subscribe-form-button{
    display: flex;
    grid-row: 5;
    grid-column: 1;
    border: none;
    border-radius: 4px;
    background-color: var(--element-text-color);
    background-color: var(--exhibition-lines-color);
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 40px;
    font-weight: 900;
    font-size: larger;
    margin-top: 1rem;
    color: cornsilk;
}

#subscribe-form-button:hover {
    cursor: pointer;
    opacity: 0.5;
}