:root {
    --img-instagram-width: 330px;
    --img-instagram-height: 350px;
}

.list-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    /* background-color: var(--header-background-color); */
}

.list {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    background-color: var(--element-background-color);
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.column {
    float: left;
}


@keyframes slide-when-load {
    0% {
        transform: translateY(100%);
      }
      50%, 100% {
        transform: translateY(0%);
      }
}

.imgItems {
    opacity: 1;
    height: var(--img-instagram-height);
    width: var(--img-instagram-width);
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    /* box-shadow: rgba(60, 64, 67, 0.4) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}

@media only screen and (max-width: 400px) {
    .imgItems {
        width: calc(var(--img-instagram-height)- 200px);
        height: calc(var(--img-instagram-width) - 180px);
        box-shadow: none;
    }
}

.imgItems:hover {
    padding: 0px;
    height: calc(var(--img-instagram-height) + 70px);
    width: calc(var(--img-instagram-width) + 70px);
    cursor: pointer;
}
 
.liItems {
    padding: 15px;
}


