body {
    background-color: #fff;
    /* background-color: #fae5df; */
    margin: 0px;
    padding: 0px;
    min-height: 100%;
}

img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

ul{
    list-style-type: none;
}

a {
    color: cornsilk;
}
